* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

main {
    display: flex;
    flex-direction: row;
}

header {
    text-align: center;
    background-color: navy;
}

header h1 {
    color: white;
    font-weight: bold;
    padding: 20px;
}

/* Style the Search element */

.search {
    width: 20%;
    margin: 10px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

input {
    height: 40px;
    margin-bottom: 15px;
}

button {
    height: 35px;
    background-color: navy;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding: 7px 7px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #b3f0ff;
}

.city-button {
    background-color: gray;
}
/* End search element style */

/* Style weather display */

.weather {
    width: 75%;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
}

.weather-main {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
